.notactive {
  color: aqua;
}
.photo-control {
  min-height: 300px;
  vertical-align: middle;
  text-align: center;
  border: 1px dashed blue;
  margin: 5px;
}
.btn {
  background-color: #65ccb8;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.header {
  background-color: #51aca5;
}
.nav__header:hover {
  cursor: pointer;
  transform: scale(1.05);
}
