<div class="card">
  <!-- Navigation Tab start -->
  <div class="card-header">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="basicDetails ? 'active' : ''"
          aria-current="page"
          (click)="onDasicDetailsClick()"
          >Basic Details Entry</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="onDescClick()"
          [ngClass]="desc ? 'active' : 'notactive'"
          >Description</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="onPhotoClick()"
          [ngClass]="photo ? 'active' : ''"
          >Photo</a
        >
      </li>
    </ul>
  </div>
  <!-- Navigation Tab end -->

  <!-- Basic Details  start-->
  <form [formGroup]="addProductForm" (ngSubmit)="onSubmit(addProductForm)">
    <div *ngIf="basicDetails" class="card-body">
      <div class="form-group col-12">
        <br />
        <!-- radio button -->
        <label for="name"> Product Name : </label>
        <input
          type="text"
          class="form-control"
          formControlName="productName"
          required
          minlength="5"
          placeholder="Enter the product Name"
        />
      </div>

      <div class="form-group col-12">
        <label for="type">Product Type</label>
        <input
          type="text"
          class="form-control"
          formControlName="productType"
          placeholder="Enter the product Type"
        />
      </div>

      <div class="form-group col-12">
        <label for="price">Brand</label>
        <input
          type="text"
          class="form-control"
          formControlName="productBrandName"
          required
          placeholder="Enter the Brand Name"
        />
      </div>
      <div class="form-group col-12">
        <label for="price">Price</label>
        <input
          type="text"
          class="form-control"
          formControlName="productPrice"
          required
          placeholder="Enter Price"
        />
      </div>
      <div class="form-group col-12">
        <label for="price">Delivery Charges</label>
        <input
          type="text"
          class="form-control"
          formControlName="deliveryCharges"
          required
          placeholder="Enter Delivery"
        />
      </div>
      <div class="form-group col-12">
        <label for="price">Quantity</label>
        <div class="col-lg-2">
          <div class="input-group">
            <span class="input-group-btn">
              <button
                type="button"
                class="quantity-left-minus btn btn-danger btn-number"
                data-type="minus"
                data-field=""
                (click)="onClickMinus()"
              >
                <span class="glyphicon glyphicon-minus">-</span>
              </button>
            </span>
            <input
              type="text"
              id="quantity"
              ngModel
              name="quantity"
              class="form-control input-number"
              value="{{ quantity }}"
              min="1"
              max="100"
            />
            <span class="input-group-btn">
              <button
                type="button"
                class="quantity-right-plus btn btn-success btn-number"
                data-type="plus"
                data-field=""
                (click)="onClickPlus()"
              >
                <span class="glyphicon glyphicon-plus">+</span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <br />
      <button
        type="submit"
        class="btn btn-primary"
        style="margin-right: 10px"
        (click)="onDescClick()"
      >
        Next
      </button>
    </div>
    <!-- Basic Details  end-->

    <!-- description  and pricing start-->
    <div *ngIf="desc" class="card-body">
      <div class="form-group col-12">
        <label for="name">Product Description</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter onProduct Description"
          required
          formControlName="productDescription"
        />
      </div>
      <div class="form-group col-12">
        <label for="price">Product SubType</label>
        <input
          type="text"
          class="form-control"
          formControlName="productSubType"
          placeholder="Eg. for mobile enter - electronics gadgets"
        />
      </div>
      <div class="form-group col-12">
        <label for="type">Terms and conditinon</label>
        <input
          type="text"
          class="form-control"
          formControlName="productTermsAndCondition"
          placeholder="Terms and condition for replacement and warrenty"
        />
      </div>
      <div class="form-group col-12">
        <label for="type">Country Origin</label>
        <input
          type="text"
          class="form-control"
          formControlName="productCountryOrigin"
          placeholder="Enter Country Origin"
        />
      </div>

      <br />
      <button
        type="submit"
        class="btn btn-primary"
        style="margin-right: 10px"
        (click)="onDasicDetailsClick()"
      >
        previous
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        style="margin-right: 10px"
        (click)="onPhotoClick()"
      >
        Next
      </button>
    </div>

    <!-- photo start-->
    <div *ngIf="photo" class="card-body">
      <div class="form-group col-12">
        <div class="form-group col-12">
          <div class="photo-control">
            <button class="mt-5" type="button">Upload</button> <br />
            This is under construction
          </div>
        </div>
      </div>
      <br />
      <button
        type="submit"
        class="btn btn-primary"
        style="margin-right: 10px"
        (click)="onDescClick()"
      >
        Previous
      </button>

      <button type="reset" class="btn btn-primary ml-2">Reset Data</button>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-right: 10px">
      Save Data
    </button>
  </form>
  <!-- photo end-->
</div>
