<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div
        class="card-header"
        style="
          color: white;
          font-weight: 500;
          text-align: center;
          font-family: poppins;
        "
      >
        Login
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
          <div class="form-group col-12">
            <label>Email</label>
            <input
              type="text"
              class="form-control"
              required
              formControlName="emailId"
            />
          </div>
          <div class="form-group col-12">
            <label>Password</label>
            <input
              type="text"
              class="form-control"
              required
              formControlName="sellerPassword"
            />
          </div>
          <br />
          <div class="form-group col-12">
            <button
              type="submit"
              class="btn"
              [disabled]="!loginForm.valid"
              style="margin-right: 5px; color: white; font-weight: 450"
            >
              Login
            </button>
            <button
              type="button"
              class="btn"
              style="color: white; font-weight: 450"
            >
              Cancel
            </button>
            <button
              type="reset"
              class="btn btn-secondary ml-2"
              routerLink="/buyer/register"
            >
              Not have an Account !! Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
