<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
          <div class="form-group col-12">
            <label>Email</label>
            <input
              type="text"
              class="form-control"
              required
              ngModel
              name="email"
            />
          </div>
          <div class="form-group col-12">
            <label>Password</label>
            <input
              type="text"
              class="form-control"
              required
              ngModel
              name="password"
            />
          </div>
          <br />
          <div class="form-group col-12">
            <button
              type="submit"
              class="btn btn-primary"
              style="margin-right: 5px"
              [disabled]="!loginForm.valid"
            >
              Login
            </button>
            <button type="button" class="btn btn-primary">Cancel</button>
            <button
              type="reset"
              class="btn btn-secondary ml-2"
              routerLink="/buyer/register"
            >
              Not have an Account !! Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
