<!-- <div class="split left">
  <div class="centered">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>Pages:</h3>
          <ul>
            <li>
              <a href="#"><strong>Home</strong></a>
            </li>
            <li>
              <a href="#"><strong>About</strong></a>
            </li>
            <ul>
              <li><a href="#">Subpage 1</a></li>
              <li><a href="#">Subpage 2</a></li>
              <li><a href="#">Subpage 3</a></li>
              <li><a href="#">Subpage 4</a></li>
            </ul>
            <li>
              <a href="#"><strong>Portfolio</strong></a>
            </li>
            <ul>
              <li><a href="#">Subpage 1</a></li>
              <li><a href="#">Subpage 2</a></li>
            </ul>
            <li>
              <a href="#"><strong>Contact</strong></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>Pages:</h3>
          <ul>
            <li>
              <a href="#"><strong>Home</strong></a>
            </li>
            <li>
              <a href="#"><strong>About</strong></a>
            </li>
            <ul>
              <li><a href="#">Subpage 1</a></li>
              <li><a href="#">Subpage 2</a></li>
              <li><a href="#">Subpage 3</a></li>
              <li><a href="#">Subpage 4</a></li>
            </ul>
            <li>
              <a href="#"><strong>Portfolio</strong></a>
            </li>
            <ul>
              <li><a href="#">Subpage 1</a></li>
              <li><a href="#">Subpage 2</a></li>
            </ul>
            <li>
              <a href="#"><strong>Contact</strong></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
<h1>Hello world</h1>
