<div class="card" style="width: 18rem">
  <!-- <img class="card-img-top" src="..." alt="Card image cap" /> -->
  <div class="card-body">
    <h5 class="card-title">Seller Data</h5>

    <p class="crd-text">Seller First Name :{{ UserData.firstName }}</p>
    <p class="crd-text">Seller last Name :{{ UserData.lastName }}</p>
    <p class="crd-text">Company Name :{{ UserData.companyName }}</p>
    <p class="crd-text">Company URL :{{ UserData.companyUrl }}</p>
    <p class="crd-text">Email Id :{{ UserData.emailId }}</p>
    <p class="crd-text">Country:{{ UserData.country }}</p>
    <p class="crd-text">Mobile No:{{ UserData.mobileNo }}</p>
    <p class="crd-text">Address:{{ UserData.sellerAddress }}</p>
  </div>
</div>
<!-- <h4
  class="navbar-expand-md"
  style="text-align: center; font-weight: 500; background-color: #51aca5"
>
  Dashboard
</h4>

<div style="background-color: #f2f2f2">
  <table className="table table-bordered">
    <thead className="thead-dark">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Country</th>
        <th>EmailId</th>
        <th>Mobile No</th>
        <th>Seller Address</th>
        <th>Company Name</th>
        <th>CompanyUrl</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Dawn</td>
        <td>India</td>
        <td>john_dah@gmail.com</td>
        <td>9876567899</td>
        <td>Goa</td>
        <td>Tavant</td>
        <td>Tavant.com</td>
      </tr>
      <tr>
        <td>Jack</td>
        <td>Jill</td>
        <td>UK</td>
        <td>jack_dah@gmail.com</td>
        <td>9876567899</td>
        <td>London</td>
        <td>Tavant</td>
        <td>JilTavant.com</td>
      </tr>
      <tr>
        <td>Shaun</td>
        <td>Brill</td>
        <td>US</td>
        <td>Shaun_dah@gmail.com</td>
        <td>9876567899</td>
        <td>San Josh</td>
        <td>Tavant</td>
        <td>BrillTavant.com</td>
      </tr>
      <tr>
        <td>Clair</td>
        <td>Evans</td>
        <td>Us</td>
        <td>john_dah@gmail.com</td>
        <td>9876567899</td>
        <td>NewYork</td>
        <td>Tavant</td>
        <td>EvansTavant.com</td>
      </tr>
    </tbody>
  </table>
</div> -->
