<div class="card" style="width: 18rem">
  <!-- <img class="card-img-top" src="..." alt="Card image cap" /> -->
  <div class="card-body">
    <h5 class="card-title">Seller Data</h5>

    <p class="crd-text">Seller First Name :{{ UserData.firstName }}</p>
    <p class="crd-text">Seller last Name :{{ UserData.lastName }}</p>
    <p class="crd-text">Company Name :{{ UserData.companyName }}</p>
    <p class="crd-text">Company URL :{{ UserData.companyUrl }}</p>
    <p class="crd-text">Email Id :{{ UserData.emailId }}</p>
    <p class="crd-text">Country:{{ UserData.country }}</p>
    <p class="crd-text">Mobile No:{{ UserData.mobileNo }}</p>
    <p class="crd-text">Address:{{ UserData.sellerAddress }}</p>
  </div>
</div>
